@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
/* @import "tailwindcss/preflight.css" layer(base); */
@import "tailwindcss/utilities.css" layer(utilities) prefix(prefix-goes-here);

.numbat-dimmed {
	@apply opacity-10 px-0.5;
}

.numbat-code {
	color: var(--code-normal);
	font-family: var(--font-monospace);
	background-color: var(--code-background);
	border-radius: var(--code-radius);
	font-size: var(--code-size);
	padding: 0.15em 0.3em;
	border: var(--code-border-width) solid var(--code-border-color);
	-webkit-box-decoration-break: clone;
}

.numbat-code-eval-error {
	@apply bg-red-200;
	white-space-collapse: preserve;
}

.numbat-diagnostic-blue {
	color: rgb(32, 94, 166);
}

.numbat-diagnostic-bold {
	font-weight: bold;
}
.numbat-diagnostic-red {
	color: rgb(175, 48, 41);
}
.numbat-value {
	@apply text-blue-800;
}
.numbat-unit {
	@apply text-violet-800;
}
.numbat-operator {
}

.numbat-type-identifier {
	color: rgb(160, 47, 111);
}
