@reference "./index.css";

.numbat-dimmed {
	@apply opacity-10 px-0.5;
}

.numbat-diagnostic-blue {
	color: rgb(32, 94, 166);
}

.numbat-diagnostic-bold {
	font-weight: bold;
}
.numbat-diagnostic-red {
	color: rgb(175, 48, 41);
}
.numbat-value {
	@apply text-blue-800;
}
.numbat-unit {
	@apply text-violet-800;
}
.numbat-operator {
}

.numbat-type-identifier {
	color: rgb(160, 47, 111);
}
