@reference "./index.css";

.numbat-dimmed {
	color: var(--text-faint);
}

.numbat-diagnostic-blue {
	color: var(--color-blue);
}

.numbat-diagnostic-red {
	color: var(--text-error);
}
.numbat-string {
	color: var(--code-string);
}
.numbat-value {
	color: var(--code-value);
}

.numbat-keyword {
	color: var(--code-keyword);
}
.numbat-unit {
	color: var(--code-keyword);
}
.numbat-operator {
	color: var(--code-operator);
}

.numbat-type-identifier {
	color: var(--code-tag);
}

.numbat-diagnostic-bold {
	font-weight: var(--font-bold);
}
