.theme-dark {
	/* --rechner-background-primary: var(--code-background); */
	--rechner-background-secondary: var(--background-modifier-border);
	--rechner-background-primary-ok: lch(from var(--code-background) l c h);
	--rechner-background-primary-error: lch(
		from var(--background-modifier-error) l c h
	);
}

.theme-light {
	--rechner-background-primary: var(--code-background);
	--rechner-background-secondary: var(--background-modifier-border);
	--rechner-background-primary-ok: lch(from var(--code-background) l c h);
	--rechner-background-primary-error: lch(
		from var(--background-modifier-error) 99 c h
	);
}
.rechner-live-editor .cm-scroller .overwrite-cm {
	border-style: solid;
	border-width: var(--border-width);
	border-color: var(--rechner-background-secondary);
	font-family: var(--font-monospace);
	font-size: var(--code-size);
	color: var(--code-normal);
}
.rechner-code-block {
	display: flex;
	flex-direction: column;
	overflow: visible;
	gap: var(--size-2-2);

	/* background-color: var(--rechner-background-secondary); */
	font-family: var(--font-monospace);
	font-size: var(--code-size);
	color: var(--code-normal);
}
.rechner-cell {
	border-style: solid;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	border-width: var(--border-width);
	gap: var(--border-width);
	border-color: var(--rechner-background-secondary);
	background-color: var(--rechner-background-secondary);
	overflow-x: auto;
}
.rechner-cell-code {
	--rechner-cell-code-display: none;
	display: flex;
	flex: 1;
	flex-grow: 1;
	padding: var(--size-4-2);
	white-space: pre;
	background-color: var(--code-background);
	display: var(--rechner-cell-code-display);
}
.rechner-output-cell {
	flex-direction: column;
	flex: 1;
	flex-shrink: 1;
	padding: var(--size-4-2);
	white-space: pre;
	background-color: var(--rechner-background-primary-ok);
	-webkit-box-decoration-break: clone;
	color: var(--code-normal);
	/* @apply whitespace-pre; */
	/* @apply bg-green-100; */
}
.rechner-output-spacer {
	flex-grow: 1;
}

.numbat-result {
	display: flex;
	justify-content: flex-end;
	border-top-style: solid;
	border-top-width: var(--border-width);
	border-color: var(--rechner-background-secondary);
}

.numbat-printed {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	& > div {
		display: flex;
		justify-content: flex-end;
	}
}
.rechner-cell-eval-ok-border {
}

.rechner-cell-error {
	padding-block: var(--size-4-2);
	flex: 1;
	white-space: pre;
	align-self: flex-end;
	width: 100%;
	background-color: var(--rechner-background-primary-error);
	color: var(--code-normal);
}
.rechner-cell-error-container {
	display: flex;
	flex-direction: column;
	background-color: var(--text-error);
	border-color: var(--text-error);
	white-space-collapse: preserve;
}

.rechner-suggestions-type {
	color: var(--code-comment);
}

.rechner-suggestions-container {
	display: flex;
}
.rechner-suggestions-name {
}
.rechner-suggestions-type {
	padding-left: var(--size-4-2);
	font-size: var(--font-smallest);
}
