@reference "./index.css";

.theme-dark {
	/* --rechner-background-primary: var(--code-background); */
	--rechner-background-secondary: var(--background-modifier-border);
	--rechner-background-primary-ok: lch(from var(--code-background) l c h);
	--rechner-background-primary-error: lch(
		from var(--background-modifier-error) l c h
	);
}

.theme-light {
	--rechner-background-primary: var(--code-background);
	--rechner-background-secondary: var(--background-modifier-border);
	--rechner-background-primary-ok: lch(from var(--code-background) l c h);
	--rechner-background-primary-error: lch(
		from var(--background-modifier-error) 99 c h
	);
}

.rechner-code-block {
	@apply flex flex-col overflow-visible;
	gap: var(--size-2-2);

	/* background-color: var(--rechner-background-secondary); */
	font-family: var(--font-monospace);
	font-size: var(--code-size);
	color: var(--code-normal);
}
.rechner-cell {
	border-style: solid;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	border-width: var(--border-width);
	gap: var(--border-width);
	border-color: var(--rechner-background-secondary);
	background-color: var(--rechner-background-secondary);
}
.rechner-cell-code {
	@apply flex flex-1 grow;
	@apply p-2;
	@apply whitespace-pre;
	/* @apply bg-pink-100; */
	background-color: var(--code-background);
}
.rechner-output-cell {
	@apply flex flex-col flex-1 shrink;
	@apply p-2;
	white-space: pre;
	background-color: var(--rechner-background-primary-ok);
	-webkit-box-decoration-break: clone;
	color: var(--code-normal);
	/* @apply whitespace-pre; */
	/* @apply bg-green-100; */
}
.rechner-output-spacer {
	@apply grow;
}

.numbat-result {
}
.rechner-cell-eval-ok-border {
	/* @apply border border-green-700; */
}

.rechner-cell-error {
	@apply py-2 flex-1 whitespace-pre self-end w-full;
	background-color: var(--rechner-background-primary-error);
	color: var(--code-normal);
}
.rechner-cell-error-container {
	@apply flex flex-col;
	background-color: var(--text-error);
	border-color: var(--text-error);
	white-space-collapse: preserve;
}

.rechner-suggestions-type {
	color: var(--code-comment);
}

.rechner-suggestions-container {
	@apply flex;
}
.rechner-suggestions-name {
}
.rechner-suggestions-type {
	@apply pl-2;
	font-size: var(--font-smallest);
}
